body.dark-mode .theme-toggle::before{color:#fff}
.theme-toggle::before{font-size:22px;line-height:1}
tr[id^="demo"] .scroll-container img{height:min(450px,52.5vh)}
.scroll-container iframe{width:min(900px,66vw);height:min(450px,52.5vh)}
@media (max-width:768px){.theme-toggle::before{font-size:18px}tr[id^="demo"] .scroll-container img,.scroll-container iframe{width:min(64.5vw,465px);height:auto}}
